.card-depoimento {
  max-width: 320px;
  background-color: #FEF7FF;

  .card-content {
    display: flex;
    padding: 16px;
  }

  img {
    width: 56px;
    height: 56px;
  }

  h3 {
    text-align: justify;
  }
}
